
$primary-text-color: #000000;
$accent-color: #2196F3;
$primary-white-color: #FFFFFF;
$text-silver-color: #757575;
$primary-bg-color: #2F303A;
$bg-color-button: #F5F4FA;

// :root{
//   --primary-text-color: #000000;
//   --accent-color: #2196F3;
//   --primary-white-color: #FFFFFF;
//   --text-silver-color: #757575;
//   --primary-bg-color: #2F303A;
//   --bg-color-button: #F5F4FA;
// }