/* section priority */

.list{
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    flex-wrap: nowrap;
  }
}
.list__item{
    @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2); 
    &:last-child{
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 4); 
    &:last-child{
      margin-bottom: 0px;
      margin-right: 0px;
    }
  }
  .container &:last-child {
    margin-right: 0px;
  }
}

.list__title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 480px) {
    text-align: center;
  }
}
.list__text{
  font-size: 14px;
  line-height: 1.7;
  margin-top: 0px;
  margin-bottom: 0px;
}
.list__icon{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  max-width: 450px;
  margin-bottom: 30px;
  height: 120px;
}
